<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <script src='./vue.js'></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model='inputValue'>
        <button @click='btnClick'>提交</button>
        <ul>
            <!-- <li v-for='item in list'>{{item}}</li> -->
            <todo-item v-for='item in list' :content='item'></todo-item>
        </ul>
    </div>
    <script>
        // Vue全局组件语法Vue.component
        // Vue.component('TodoItem', {
        //     props: ['content'],
        //     template: '<li>{{content}}</li>'
        // })

        // 局部组件 TodoItem
        var TodoItem = {
            props: ['content'],
            template: '<li>{{content}}</li>'
        }
        var app = new Vue({
            el: '#app',
            components: {
                TodoItem: TodoItem
            },
            data: {
                list: [],
                // 可以在控制台通过 app.$data.inputValue 取到此值
                inputValue: ''
            },
            methods: {
                btnClick:
                // function  alert inputValue 值
                function() {
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }
                // 箭头函数会 alert undefined
                // () => {
                //     alert(this.inputValue)
                // }
            }
        })
    </script>
</body>
</html>