<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <div
            v-for='(item, index) of list'
            :key='item.id'
        >
            {{item.title}}---{{item.id}}
        </div>
        <div
            v-for='(item, key, index) of userInfo'
        >
            {{key}} -- {{item}} -- {{index}}
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                // 可以使用对象的 key value index
                // 想动态修改页面上的对象的值:
                // 1: 直接通过 vm.变量名.键名 = '新值'
                // 2: 改变对象的引用: 重新给一个新的对象
                // 3: set方法: a: Vue.set(vm.userInfo, '###', '###')   b: 实例的 set 方法:
                userInfo:{
                    name: '儿童劫',
                    age: 'unknown',
                    gender: 'male',
                    salary: 'so many ad'
                },
                // 通过数组下标取到成员 对成员进行的改动无法响应式渲染
                // 只能通过
                // 1: 数组的 7 种方法改动成员 push pop shift unshift splice sort reverse
                // 2: 改变数组的引用: 重新给一个新的数组
                // 3: set方法: a: Vue.set(vm.userInfo, '###', '###')   b: 实例的 set 方法:
                list: [
                {
                    id: '01',
                    title:'打劫就烬派出索'
                },
                {
                    id: '02',
                    title:'大家晚安亚索除外'
                },
                {
                    id: '03',
                    title:'我和Faker五五开'
                },
                {
                    id: '04',
                    title:'我锤石你德玛'
                }
                ]
            },
        })
    </script>
</body>
</html>